<div class="dropdown center">
  <button data-toggle="dropdown" class="btn btn-secondary dropdown-toggle" type="button">
    Select Lyrics
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-new-wavy-demo-lyrics">New Wavy (Demo)</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-tyrant-lyrics">Tyrant</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-boo-lyrics">Boo</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-rain-lyrics">Rain</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-night-crawler-lyrics">Night Crawler</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-cruel-intentions-lyrics">Cruel Intentions</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-close-the-portal-lyrics">Close The Portal</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-polidicks-lyrics">Polidicks</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-ten-ten-lyrics">Ten Ten</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-the-reapers-wrath-lyrics">The Reapers Wrath</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-can-i-live-lyrics">Can I Live</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-intro-backward-books-ep-lyrics">Intro (Backward Books EP)</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-the-statement-lyrics">The Statement</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-sailor-moon-lyrics">Sailor Moon</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-angel-assassins-lyrics">Angel Assasins</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-smoking-with-the-gods-lyrics">Smoking With The Gods</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-backward-books-lyrics">Backward Books</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-prince-george-lyrics">Prince George</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-eden-after-hours-lyrics">Eden After Hours</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-toast-lyrics">Toast</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-crown-violet-lyrics">Crown Violet</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-intro-doug-funny-lyrics">Intro (Doug Funny)</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-headknocker-lyrics">Headknocker</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-slime-lyrics">Slime</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-only-ever-love-lyrics">Only Ever Love</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-96-bounce-lyrics">96 Bounce</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-rihanna-lyrics">Rihanna</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-barbie-lyrics">Barbie</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-tinder-lyrics">Tinder (ft. DJ Paul)</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-trap-reaper-parody-lyrics">Trap Reaper Parody</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-muriel-and-eustace-lyrics">Muriel and Eustace</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-xenophile-lyrics">Xenophile</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-aint-shit-lyrics">Ain't Shit</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-do-what-i-want-lyrics">Do What I Want</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-all-in-lyrics">All In</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-black-rose-lyrics">Black Rose</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-hopeless-lyrics">Hopeless</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-cobra-lyrics">Cobra</a></li>
    <li><a class="dropdown-item" href="https://genius.com/Azizi-gibson-head-huncho-lyrics">Head Huncho</a></li>
  </ul>
</div>
