<h3 class="center">Lyric Selector</h3>
<div class="form-group">
  <select class="custom-select">
    <option selected="">Select Song to go to Lyrics</option>
    <option value="1">Smoking with the Gods</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>

<h3 class="center">Album Info</h3>
<div class="form-group">
  <select class="custom-select">
    <option selected="">Select Album</option>
    <option value="1">Xenophile</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>