<div class="container">
    <div class="card mb-4">
        <form class="card-body">
            <br>
            <h1 class="center">Sign-In / Register</h1>
            <br>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" >Sign-In</a>
              </li>
              <li class="nav-item disabled">
                <a class="nav-link" >Register</a>
              </li>
            </ul>
            <br>

              <!-- User Name Title -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">User Name</span>
              </div>
              <input type="text" name="userName" class="form-control">
            </div>

            <!-- User Name Title -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
              </div>
              <input type="password" name="password" class="form-control">
            </div>

            <br>
            <button onclick="toggleAuthentication()" type="button" class="btn btn-primary" style="background-color:#cc0000;">Sign-In</button>
            <input type="reset" class="btn btn-secondary">
          </form>
    </div>
  </div>
