<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Azizi Gibson</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse auto" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="./home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./music">Music </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./photo-gallery">Photos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./merch">Merchandise</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./about">About</a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Sign-In/Register</a>
      </li>
      -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="./admin_concert_info">Add New Concert</a>
          <a class="dropdown-item" routerLink="./admin_gallery">Add New Photos</a>
          <a class="dropdown-item" routerLink="./admin_song_embed">Add Song Embeds</a>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="http://127.0.0.1:8080">Disabled</a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0 disabled" type="submit">Search</button>
    </form>
  </div>
</nav>


