@import "src/styles.scss";

.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.socialMedia {
    font-size: 2em;

}

i {
    color: rgba($color: $aziziRed, $alpha: 1);
}


