<nav class="navbar navbar-expand-lg navbar-dark">
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="my-2 my-lg-0 socialMedia">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="https://www.facebook.com/AziziGibson/"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="https://www.instagram.com/azizigibson/"><i class="fab fa-instagram"></i></a>
              </li>
          </ul>
        
      </div>
    </div>
  </nav>
  