@import "src/styles.scss";

.card-body{
    color: $aziziBlack;
}

.card{
    
}

body{
    background-image: url('/src/assets/photos/graffiti.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}