<div class="container">
  <br>
  <div class="card mb-4" id="content">
      <br>
      <h1 class="center title">Who is Azizi Gibson</h1>
      <p class="card-body">Born in Frankfurt, Germany and growing up between Thailand, Cambodia, Zaire, and Singapore, Azizi didn't fit in. When he was 11, his family moved back to the US and settled in Maryland. Although back on American soil, Azizi still felt like an outsider; his years in Asia ignited a love of anime and video games that hadn't quite hit the American scene. It is that feeling of being an outsider that makes Azizi's music and character so relatable to so many of his fans!

  Azizi signed with Brainfeeder in 2012 and went on tour with The Underachievers. It was during that tour where Azizi's brand of preHISTORIC was born. Eventually Azizi and Brainfeeder broke ties so he could go independent. In total, Azizi has created six albums with his latest entitled Memoirs of the Reaper.

  The Grim Reaper can be seen in many of Azizi's songs and albums; chosen because Azizi sees the Grim Reaper as an outsider who is misunderstood, much like himself - cue memories everyone can relate to.

  At the end of the day, Azizi loves his music and strives to become a well-oiled musical machine, finding the perfect formula to crank out the type of music his fans love. However, those childhood outsider interests of anime and video games are now adult passions that play perfectly into his message of: simply be yourself. Azizi is simply being himself and taking you along for the picturesque ride.</p>
  </div>
  <div class="card mb-4" id="content">
      <h1 class="center title">Memoirs of the Reaper</h1>
      <p class="card-body">
        The Grim Reaper can be seen in many of Azizi's songs and albums; chosen because Azizi sees the Grim Reaper as an outsider who
        is misunderstood much like himself - cue memories everyone can relate to.
      </p>
      <p class="card-body">
        At the end of the day, Azizi loves his music and strives to become a well-oiled musical machine, finding the perfect formula to
        crank out the type of music his fans love. However, those childhood outsider interest of anime and video games are now adult passions
        that play perfectly into his message of "simply be yourself".  Azizi is simply beiung himself and taking you along for the picturesque ride.
      </p>
  </div>
  <div class="card mb-4" id="content">
    <br>
    <h1 class="center title">References</h1>
    <h2 class="card-body">Icon References</h2>
    <ul>
      <li>Twitter logo: <a href="https://fontawesome.com/icons/twitter?style=brands">https://fontawesome.com/icons/twitter?style=brands</a></li>
      <li>Instagram logo: <a href="https://fontawesome.com/icons/instagram?style=brands">https://fontawesome.com/icons/instagram?style=brands</a></li>
      <li>Soundcloud logo: <a href="https://fontawesome.com/icons/soundcloud?style=brands">https://fontawesome.com/icons/soundcloud?style=brands</a></li>
      <li>Youtube logo: <a href="https://fontawesome.com/icons/youtube?style=brands">https://fontawesome.com/icons/youtube?style=brands</a></li>
      <li>Hamburger menu: <a href="https://fontawesome.com/icons/align-justify?style=solid">https://fontawesome.com/icons/align-justify?style=solid</a></li>
    </ul>
    <h2 class="card-body">Font References</h2>
    <ul>
      <li>Press Start 2: <a href="https://fonts.google.com/?query=press+start+2p">https://fonts.google.com/?query=press+start+2p</a></li>
      <li>Bangers: <a href="https://fonts.google.com/?query=bangers">https://fonts.google.com/?query=bangers</a></li>
    </ul>
    <h2 class="card-body">Image references</h2>
    <ul>
      <li>Xenophile: <a href="https://ssl.ulximg.com/image/750x750/cover/1534207067_bf54a2a5b2484b8cc8b1c2415e8f3c58.jpg/e7c168d213190933eeb2e6260c4a08f0/1534207067_823d8d2f05bd190e1da5e477690a3844.jpg">https://ssl.ulximg.com/image/750x750/cover/1534207067_bf54a2a5b2484b8cc8b1c2415e8f3c58.jpg/e7c168d213190933eeb2e6260c4a08f0/1534207067_823d8d2f05bd190e1da5e477690a3844.jpg</a></li>
      <li>Place farther then universe: <a href="https://studybreaks.com/tvfilm/place-further-universe-mari/">https://studybreaks.com/tvfilm/place-further-universe-mari/</a></li>
      <li>Free dive to future: <a href="https://www.pinterest.com/pin/383087512049082678/?lp=true">https://www.pinterest.com/pin/383087512049082678/?lp=true</a></li>
      <li>Planet With: <a href="https://en.wikipedia.org/wiki/Planet_With">https://en.wikipedia.org/wiki/Planet_With</a></li>
      <li>Megalobox: <a href="https://en.wikipedia.org/wiki/Megalo_Box">https://en.wikipedia.org/wiki/Megalo_Box</a></li>
      <li>Dragon pilot: <a href="https://readysteadycut.com/2018/09/21/dragon-pilot-hisone-and-masotan-netflix-review/">https://readysteadycut.com/2018/09/21/dragon-pilot-hisone-and-masotan-netflix-review/</a></li>
      <li>Anime girl: <a href="https://pixabay.com/en/moe-woman-girl-manga-anime-cartoon-595960/">https://pixabay.com/en/moe-woman-girl-manga-anime-cartoon-595960/</a></li>
      <li>Graffiti bubble style: <a href="https://pixabay.com/en/graffiti-wall-mural-painting-arts-569265/">https://pixabay.com/en/graffiti-wall-mural-painting-arts-569265/</a></li>
      <li>Merchandise: <a href="http://azizigibsonmerch.com/">http://azizigibsonmerch.com/</a></li>
      <li>Azizi gallery images: <a href="https://www.facebook.com/pg/AziziGibson/photos/?ref=page_internal">https://www.facebook.com/pg/AziziGibson/photos/?ref=page_internal</a></li>
      <li>Homepage concert: <a href="https://music.mxdwn.com/2014/11/26/news/red-bull-30-days-in-la-day-15-kamadi-azizi-gibson-chance-the-rapper-live-at-house-of-blues/">https://music.mxdwn.com/2014/11/26/news/red-bull-30-days-in-la-day-15-kamadi-azizi-gibson-chance-the-rapper-live-at-house-of-blues/</a></li>
    </ul>
      
  </div>
<div
