<div class="container">
<br><br>
  <!-- Backwards Books II Tour -->
  <div class="card mb-4" id="content">

    <img class="card-img-top" src="assets/photos/backwardsbooks2.png" width="25%" height="25%" alt="Card image cap">
    <div class="center note">* denotes Meet & Greet tickets available</div>
    <ul class="center" style="list-style-type: none">
        <li>12/30/2018: The Sco @ Oberlin U.  Oberlin, OH*</li>
        <li>01/02/2019: El ClubDetroit, MI</li>
        <li>01/04/2019: Bottom LoungeChicago, IL</li>
        <li>01/05/2019: University of WIMadison, WI*</li>
        <li>01/11/2019: MOD ClubToronto, ON*</li>
        <li>01/18/2019: American BeautyNYC, NY*</li>
        <li>01/22/2019: MotorcoDurham, NC</li>
        <li>01/25/2019: Pattini’sTampa, FL*</li>
        <li>01/26/2019: BackboothOrlando, FL</li>
        <li>01/29/2019: Terminal WestAtlanta, GA*</li>
        <li>02/01/2019: LaunchpadAlbuquerque, NM</li>
        <li>02/02/2019: OaktopiaDallas, TX*</li>
        <li>02/08/2019: Gold Rush FestivalPhoenix, AZ*</li>
        <li>02/09/2019: Kilby’s CourtSalt Lake City, UT</li>
        <li>02/12/2019: VeraSeattle, WA</li>
        <li>02/15/2019: HawthornePortland, OR*</li>
        <li>02/16/2019: San Diego State Univ.San Diego, CA</li>
        <li>02/19/2019: Social Hall SFBay Area, CA*</li>
        <li>02/20/2019: FortuneVancouver, BC</li>
        <li>02/27/2019: CervantesDenver, CO</li>
        <li>02/28/2019: Alamo City Music HallSan Antonio, TX</li>
        <li>03/02/2019: Snowta FestivalMinneapolis, MN*</li>
    </ul>   
  </div>

  <!-- Meet and Greets -->
  <div class="card mb-4" id="content">
      <h1 class="center title">Meet and Greets</h1>
      <ul class="center" style="list-style-type: none">
          <li>01/03/2019: AlleyCat ComicsChicago, IL</li>
          <li>01/24/2019: Emerald City ComicsClearwater, FL</li>
          <li>02/03/2019: Bedrock City ComicsHouston, TX</li>
          <li>02/07/2019: Comikaze and ToysGoodyear, AZ</li>
          <li>02/17/2019: Comics FactoryPasadena, CA</li>
          <li>02/25/2019: Time Warp Comics & CardsBoulder, C</li>
      </ul>
  </div>
    
</div>
