.grid-container {
    display: grid;
    grid-template:
    repeat( minmax(1fr, 1fr));
    padding: 1em;
}

.inner-container{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.2em;
    font-size: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.row > img{
    padding: 5px;
    height: 10em;
    width: 10em;
}