<div class="grid-container">
  <div class = "inner-container center"> 
    <div class="row">
      <img src=".\assets\photos\1.png" height="250" width="250">
      <img src=".\assets\photos\2.jpg" height="250" width="250">
      <img src=".\assets\photos\3.jpg" height="250" width="250">
      <img src=".\assets\photos\4.jpg" height="250" width="250">
    </div>
    <div class="row">
        <img src=".\assets\photos\1.png" height="250" width="250">
        <img src=".\assets\photos\2.jpg" height="250" width="250">
        <img src=".\assets\photos\3.jpg" height="250" width="250">
        <img src=".\assets\photos\4.jpg" height="250" width="250">
    </div> 
    <div class="row">
        <img src=".\assets\photos\1.png" height="250" width="250">
        <img src=".\assets\photos\2.jpg" height="250" width="250">
        <img src=".\assets\photos\3.jpg" height="250" width="250">
        <img src=".\assets\photos\4.jpg" height="250" width="250">
    </div>
  <div class="row">
      <img src=".\assets\photos\1.png" height="250" width="250">
      <img src=".\assets\photos\2.jpg" height="250" width="250">
      <img src=".\assets\photos\3.jpg" height="250" width="250">
      <img src=".\assets\photos\4.jpg" height="250" width="250">
    </div>
  </div>
</div>
