<div class="grid-container">
  <div class = "inner-container center"> 
    <div class="row">
      <img src=".\assets\photos\1.png" height="250" width="250">
      <img src=".\assets\photos\2.jpg" height="250" width="250">
      <img src=".\assets\photos\3.jpg" height="250" width="250">
      <img src=".\assets\photos\4.jpg" height="250" width="250">
    </div>
    <div class="row">
        <img src=".\assets\photos\Red.jpg" height="250" width="250">
        <img src=".\assets\photos\Stairwell.jpg" height="250" width="250">
        <img src=".\assets\photos\puppy.jpg" height="250" width="250">
        <img src=".\assets\photos\Concert.jpg" height="250" width="250">
    </div> 
    <div class="row">
        <img src=".\assets\photos\Concert3.jpg" height="250" width="250">
        <img src=".\assets\photos\Hat & glasses.jpg" height="250" width="250">
        <img src=".\assets\photos\concert2.jpg" height="250" width="250">
        <img src=".\assets\photos\PsP.png" height="250" width="250">
    </div>
  <div class="row">
      <img src=".\assets\photos\Picture1.png" height="250" width="250">
      <img src=".\assets\photos\PhantomPain.png" height="250" width="250">
      <img src=".\assets\photos\hoodie.png" height="250" width="250">
      <img src=".\assets\photos\side profile.png" height="250" width="250">
    </div>
  </div>
</div>
