<div class="container">
    <div class="card mb-4">
        <form class="card-body">

          <h1 class="center">Music</h1>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" >New Embed</a>
            </li>
            <li class="nav-item disabled">
              <a class="nav-link" >Edit Existing Embeds</a>
            </li>

          </ul>
          <br>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div for="validationTooltip01" style="color:#000000; text-align:left;">
                <span class="input-group-text">Embed Link</span>
              </div>
              <input type="text" class="form-control" id="validationTooltip01"  required>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1" style="color:#000000; text-align:left;">
              Soundcloud
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2" style="color:#000000; text-align:left;">
              Itunes
            </label>
          </div>
            <br>
            <button type="button" class="btn btn-primary disabled" style="background-color:#cc0000;">Add Song</button>
          </form>
    </div>
</div>
