<div class="container">
    <div class="card mb-4">
        <form class="card-body">
            <h1 class="center">New Music</h1>
            <div class="form-group">
              <label for="validationTooltip01" style="color:#000000; text-align:left;">Embed Link</label>
              <input type="text" class="form-control" id="validationTooltip01"  required>
            </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1" style="color:#000000; text-align:left;">
              Soundcloud
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2" style="color:#000000; text-align:left;">
              Itunes
            </label>
          </div>
            <br>
            <button type="submit" class="btn btn-primary disabled" style="background-color:#cc0000;">Add Song</button>
          </form>
    </div>
</div>
