<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#itunes">iTunes</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#soundcloud">SoundCloud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#amazon">Amazon</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#youtube">Youtube</a>
  </li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade show active" id="itunes">
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/backward-books-2/1437835238?app=music"></iframe>
      <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="450" style="width:100%;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/backward-books-reloaded/1177093497?app=music"></iframe>
  </div>
  <div class="tab-pane fade" id="soundcloud">
      <iframe width="100%" height="350" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/579857112&color=%23ff0000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
      <iframe width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/42154069&color=%23ff0000&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  </div>
  
  <div class="tab-pane fade" id="amazon">
      <iframe id='AmazonMusicEmbedB00FFNWRAI' src='https://music.amazon.com/embed/B00FFNWRAI/?id=UlgIxv2V5F&marketplaceId=ATVPDKIKX0DER&musicTerritory=US' width='100%' height='900px' style='border:1px solid rgba(0, 0, 0, 0.12);'></iframe>
  </div>
  <div class="tab-pane fade video-responsive" id="youtube">
      <iframe width="100%" height="900px" src="https://www.youtube.com/embed/videoseries?list=PLti2JgcZkKBXH2c5PIWLM0LBRzVjJf7YO&hl=en_US" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

