center {width: 80%;
    padding-left: 15%;
}

p { padding: 35px;
    color: #ffffff;
    font-family: roboto;
    font-size:2vw;
}

h1 { font-family: bangers;
    font-size:6vw;
    color: #cc0000; 
    text-shadow: 2px 2px #000000;
}


h3 { font-family: roboto;
    font-size:2em;
    color: #cc0000;
}

.grid-container {
display: grid;
} 

button.btn.btn-primary{
    background-color:#cc0000 !important;
}

.nav-link {
    background-color: lightgray;
  }

.form-group{
    color: black;
}

.nav-pills .active{
    background-color: black;
}

fieldset{
    color: black;
}