<div class="container">
  <div class="card mb-4">
      <form class="card-body">
          <br>
          <h1 class="center">New Photo</h1>
          <br>
          <div class="input-group">
            <div class="custom-file">
              <p style="text-align:left;">Image</p>
              <br>
              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
              <label class="custom-file-label" for="inputGroupFile01"> Image </label>
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" style="background-color:#cc0000;">Upload</button>
        </form>
  </div>
</div>
