<div class="container">
  <div class="card mb-4">
      <form class="card-body">
          <br>
          <h1 class="center">Photo</h1>
          <br>
          <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" >New Photo</a>
              </li>
              <li class="nav-item disabled">
                <a class="nav-link" >Edit Existing Photo</a>
              </li>
      
            </ul>
          <br>
          <div class="form-group">
            <!-- Caption -->
            <div class="input-group mb-3">
              <div class="input-group-prepend" for="validationTooltip01" style="color:#000000">
                <span class="input-group-text">Caption</span>
              </div>
              <input type="text" class="form-control" id="validationTooltip01" required>
            </div>
          </div>
          <!-- Image -->
          <div class="input-group mb-3">
            <div class="input-group-prepend" for="validationTooltip01" style="color:#000000">
              <span class="input-group-text">Image</span>
            </div>
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
                <label class="custom-file-label" for="inputGroupFile01"> Image </label>
          </div>
            <br>
          <button type="button" class="btn btn-primary disabled" style="background-color:#cc0000;">Upload</button>
        </form>
  </div>
</div>
