/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    
    
}

h1{
    font-family: 'Bangers', cursive;
}

h2{
    font-family: 'Press Start 2P', cursive;
    

}

h3{
    //????
}

.center {
    text-align: center;
}

.citation {
    font-style: italic;
}
//Banger Font for Azizi Name
