<div class="container"> 
    <div id="content" class="center">
        <br>
        <h1 class="title" >Azizi Gibson</h1>
        <h2 class="subtitle">Latest Song</h2>
        <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/509974566&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <h2 class="subtitle">Latest Video</h2>
        <div class="videoWrapper">
            <iframe width="560" height="349px" src="https://www.youtube.com/embed/goDDmrOiVeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <br>
        <!-- Latest Blog post -->
        
        <h2 class="subtitle">Latest Blog Post</h2>
        <div class="card mb-4">
            <img class="card-img-top" src="src\assets\photos\anime blog.png" alt="Card image cap">
            <div class="card-body">
                <div class="card-title title-blog">My 5 Must-Watch Anime Series of 2018</div>
                <div class="card-text">
                    <h3>DRAGON PILOT: Hisone and Masotan</h3><p class='justify'>In this anime, Tamaki Mari partners with her friend Shirase Kobuchizawa on an adventure to Antarctica. This coming of age series is sentimental and an overall feel-good anime. With artistic animations and well composed character journeys, this has been my favorite series of 2018.</p>
                    <h3>Free! Dive to the Future</h3><p class='justify'>If you have been following this series since its beginning you will come to appreciate the coming of age of the case. Long gone are their high school days as they try to find themselves. Packed with more drama than previous season the conflict among characters leads to their growth. If you haven’t seen the first Free! Series, I would definitely recommend watching the first, it will make Dive to the Future even better Available on Crunchyroll</p>
                    <h3>Planet With</h3><p class='justify'>Design by Kazunori Iwakura and composed by Satoshi Mizukami, this series is a fresh twist on anime comic. The series reveals its themes of heroism, the bond between which we call our family, and the mecha and sentai Japanese traditions. Each episode of this series has complex storyline and I was never disappointed. Let me know what you think! Available on Crunchyroll</p>
                    <h3>MEGALOBOX</h3><p class='justify'>Originally thought of as an anniversary spin-off of the classic series Ashita no Joe, this series depicts the divide between the poor and the modern. Junk Dog is a young man who brings a new perspective to the boxing world. The music, the message, and the art will be sure to inspire you as it did me! Available on Crunchyroll</p>
                    <h3>A Place Further Than the Universe</h3><p class='justify'>Directed by HIroshi Kobayashi, this distinctive film stands out for its depiction of sexism in institutions like the military, role tradition, and the glass ceiling. Histrone steals the spotlight as a young women who is not one to stand in the shadows. This movie reveals the constant struggle to find a balance between professional and personal life. With complex military systems, themes of feminism, and unpredictable humor you have to give this a watch! Available on Netflix</p>
                    <p class="citation">Citation:
                            Cirugeda, Kevin. November 14, 2018. Thrillist Entertainment. Retrieved December 1 2018 from
                            https://www.thrillist.com/entertainment/nation/best-anime-2018#
                    </p>
                </div>
                <!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
                </div>
                <div class="card-footer text-muted">
                Posted on December 1, 2018 by {{aziziAuthor}}
                <a href="#">Start Bootstrap</a>
            </div>
        </div>

    </div>
</div>